body,html{
	margin: 0;
	padding: 0;
	font-family: "Arial", sans-serif;
	font-size: 0.95em;
	text-align: center;
}
#chart{
	border: 1px solid #CCC;
}
.axis path,
.axis line{
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.trendline{
	fill: none;
	stroke: #ccc;
	stroke-width: 4px;
}

#USline{
	stroke: rgb(162,83,35);
}
#FR1line, #FR2line, #FR3line{
	stroke:rgb(57,123,122);
}
#SWE1line, #SWE2line{
	stroke:rgb(88,191,191);
}
#SWZline{
	stroke:rgb(243,130,61);
}
#GER1line, #GER2line{
	stroke:rgb(23,85,132);
}
#NETHline{
	stroke:rgb(180,138,56);
}
#CANline{
	stroke:rgb(230,198,132);
}
#UKline{
	stroke:rgb(18,57,85);
}
#NZline{
	stroke:rgb(31,127,201);
}
#NORline{
	stroke:rgb(79,116,63);
}
#AUSline{
	stroke:rgb(148,196,128);
}

