body,html{
	margin: 0;
	padding: 0;
	font-family: "Arial", sans-serif;
	font-size: 0.95em;
	text-align: center;
}
#chart{
	border: 1px solid #CCC;
}

text {
	fill: #ccc;
	font-size: 14px;
}

.axis path, .axis line{
	fill: none;
	stroke: none;
	shape-rendering: crispEdges;
}

.tick text{
	fill: gray;
}

.trendline{
	fill: none;
	stroke: #ccc;
	stroke-width: 3px;
}

.gridline line{
	fill: none;
	stroke: #ccc;
	shape-rendering: crispEdges;
}

#chartTitle{
	font-size: 29px;
	fill: black;
}

.key{
	shape-rendering: crispEdges;
}

.keyText{
	font-size: 12px;
}

#USline{
	stroke: rgb(162,83,35);
}
#USkey, #USkeyText{
	fill:  rgb(162,83,35);
}
.USpoints{
	fill: rgb(162,83,35);
}
#FRAline{
	stroke:rgb(57,123,122);
}
#FRAkey, #FRAkeyText{
	fill: rgb(57,123,122);
}
.FRApoints{
	fill: rgb(57,123,122);	
}
#SWE1line, #SWE2line{
	stroke:rgb(88,191,191);
}
#SWE1key, #SWE1keyText{
	fill: rgb(88,191,191);
}
.SWE1points, .SWE2points{
	fill: rgb(88,191,191);	
}
#SWZline{
	stroke:rgb(243,130,61);
}
#SWZkey, #SWZkeyText{
	fill: rgb(243,130,61);
}
.SWZpoints{
	fill: rgb(243,130,61);	
}
#GER1line, #GER2line{
	stroke:rgb(23,85,132);
}
#GER1key, #GER1keyText{
	fill: rgb(23,85,132);
}
.GER1points, .GER2points{
	fill: rgb(23,85,132);	
}
#NETHline{
	stroke:rgb(180,138,56);
}
#NETHkey, #NETHkeyText{
	fill: rgb(180,138,56);
}
.NETHpoints{
	fill: rgb(180,138,56);	
}
#CANline{
	stroke:rgb(230,198,132);
}
#CANkey, #CANkeyText{
	fill: rgb(230,198,132);
}
.CANpoints{
	fill: rgb(230,198,132);	
}
#UKline{
	stroke:rgb(18,57,85);
}
#UKkey, #UKkeyText{
	fill: rgb(18,57,85);
}
.UKpoints{
	fill: rgb(18,57,85);	
}
#NZline{
	stroke:rgb(31,127,201);
}
#NZkey, #NZkeyText{
	fill: rgb(31,127,201);
}
.NZpoints{
	fill: rgb(31,127,201);	
}
#NORline{
	stroke:rgb(79,116,63);
}
#NORkey, #NORkeyText{
	fill: rgb(79,116,63);
}
.NORpoints{
	fill: rgb(79,116,63);	
}
#AUSline{
	stroke:rgb(148,196,128);
}
#AUSkey, #AUSkeyText{
	fill: rgb(148,196,128);
}
.AUSpoints{
	fill: rgb(148,196,128);	
}


.note{
	fill: black;
	font-size: 10px;
}

